@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-width: 23.5rem;
}

body {
  background: hsl(210, 46%, 95%);
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 40rem;
  min-width: 23.5rem;
  font-size: 0.8125rem;
}

.container {
  background: #fff;
  width: 20.35rem;
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative;
}

.image-container {
  width: 100%;
  height: 12.5rem;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  position: relative;
  bottom: 9%;
  vertical-align: bottom;
}

main {
  width: 78.5%;
  margin: auto;
}

h1 {
  color: hsl(217, 19%, 35%);
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2.4rem;
  margin-bottom: 1rem;
}

.description {
  color: hsl(214, 17%, 51%);
  margin-bottom: 1.2rem;
  line-height: 1.3rem;
}

.user-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 15.95rem;
  margin-bottom: 0.75rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.user-picture {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.user-picture img {
  height: 100%;
  width: 100%;
}

.author-date {
  line-height: 1.2rem;
  margin-left: 1rem;
}

h2 {
  color: hsl(217, 19%, 35%);
  font-size: 0.8125rem;
}

.author-date p {
  color: hsl(212, 23%, 69%);
}

.btn {
  background: #ecf2f8;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 50%;
  padding-top: 2px;
  cursor: pointer;
  margin-left: auto;
}

.share-btn {
  background-color: hsl(214, 17%, 51%);
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 50%;
  padding-top: 2px;
  cursor: pointer;
  margin-right: 0.8rem;
  margin-left: 0.5rem;
}

.share {
  display: none;
  background: hsl(217, 19%, 35%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.share-section {
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 20.35rem;
  margin: auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share-section h3 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: hsl(212, 32%, 77%);
  font-weight: 200;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

ul {
  width: 5.94rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

li img {
  vertical-align: middle;
}

.open {
  display: block;
}

@media (min-width: 42.5rem) {
  body {
    min-width: 56.25rem;
    min-height: 25rem;
  }
  .container {
    width: 45rem;
    height: 17.5rem;
    display: flex;
    flex-direction: row;
    overflow: visible;
  }
  .image-container {
    width: 23.75rem;
    height: 17.5rem;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }
  .image-container img {
    height: 100%;
    width: 123%;
    position: relative;
    left: 0;
    bottom: 0;
  }
  main {
    padding: 0 2.5rem 0 2.5rem;
    margin: 0;
  }
  h1 {
    font-size: 1.25rem;
    padding-right: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 0.8rem;
  }
  .user-container {
    visibility: visible;
    min-width: 100%;
    margin-top: 1.2rem;
  }
  .share {
    display: none;
  }
  .social-icons {
    width: 11.56rem;
  }
  .share-section {
    position: absolute;
    width: 15.5rem;
    background-color: hsl(217, 19%, 35%);
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border-radius: 0.75rem;
    bottom: 96px;
    right: -69px;
    z-index: 1;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .share-section:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    border: 0.75rem solid transparent;
    border-top-color: hsl(217, 19%, 35%);
  }
  .share-section button {
    display: none;
  }
  /* .share-section:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 100%;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 36px solid hsl(217, 19%, 35%);
  } */
  .open {
    display: block;
  }
  .toggle-svg {
    fill: #fff;
  }
  .toggle-btn {
    background: hsl(214, 17%, 51%);
  }
}
